.ListFilter
{
  font-weight: bold;
  width: 300px;
  margin: 100px auto;
}

.ListFilter .SearchLine{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.ListFilter ul{
	border: 1px solid black;
	list-style-type: none;
	height: 125px;
	overflow-y: scroll;
}
.ListFilter input{
	font-size: 16px;
}