.ShopItem{
	width: 100%;
}

.ShopItem input{
	display: block;
	width: 80%;
	margin: 5px auto;
	padding: 10px;
}
.ShopItem .ItemList__row.selected{
	background-color: rgb(200, 192, 115);
}

.ShopItem img{
	height: 100px;
}